{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",["transform-imports", {
      "react-router-dom": {
        "transform": "react-router-dom/${member}",
        "preventFullImport": true
      }
    }]
  ]
}
